@mixin gradient($direction, $fromColor, $endColor) {
  background: $fromColor;
  background: linear-gradient($direction, $fromColor, $endColor);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$fromColor}', endColorstr='#{$endColor}', GradientType=1 );
}

@mixin social-hover($bg, $color){
  background: $bg;
  color: $color;
  transform: translateX(5px) translateY(-20px) scale(1.2);
  border-color: $bg;
};
